
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
.container {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
.nav__link{
  min-width: 40px;
  text-decoration: none;
  color: black;
}

.heading{
  text-decoration: none;
  color: black;
}
.header{
  position: sticky;
  z-index: 30;
  top: 0;
}
.nav{
  display: flex;
  margin-top: -10px;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
}

.nav__menu_bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu_bar div{
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}
.nav__menu_list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -320px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: #f1f1f1;
}
.nav__menu_list.active{
  right: 0;
}
.nav__link{
  font-size: 14px; 
  position: relative;
  transition: all 0.2s;
}

.activeLink{
  text-decoration: none;
  font-weight: bold;
}

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__menu_bar{
    display: none;
  }
  .nav__menu_list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
  .nav__link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: black;
    transition: all 0.2s;
  }
  
  .nav__link:hover:before{
   width: 100%;
  }

 
}


.p, .title{
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}

.all{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid gray;
  margin: 0;
  height: 30px;
}

.priceAll{
  padding-top: 6px;
  min-width: 55px; 
  text-align: center;
}

.promoPriceAll{
  padding-top: 6px;
  background-color: lightcoral;
  text-align: center;
}

.promoPrice{
  text-decoration: none;
  color: red;
  font-size: 1.2rem;
}

.manageLinks{
  display: flex;
  justify-content: center;
  width: 100vw;
}

.exportBtn{
  margin: 20px 0 0 20px;
  background-color: lightgreen;
  cursor: pointer;
  font-weight: bold;
}
